@import "./News.css";
@import "./AboutComp.css";
@import "./Events.css";
@import "./Contact.css";
@import "./AboutUs.css";

body > div.ContentViewport {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body > div.ContentViewport > div.Content {
    height: 100%;
    width: 500%;
}

body > div.ContentViewport > div.Content > div {
    height: 100%;
    width: 20%;
    float: left;
    overflow-y: auto;
}

body > div.ContentViewport > div.Content > div > div.InnerContent {
    height: 100%;
    width: 100%;
}









